---
---

@import "{{ site.theme }}";

.page-header {
  padding: 1rem !important;
}

h1 a { color: white; text-decoration: none;}

.project-name {
  margin-bottom: 1rem;
}

.highlight { background-color: #396; color: #000; font-weight: bold; border: 2px solid #063; }

details summary {
    display:list-item;
  }

/* Prevent embedded iframes (such as YouTube) from spilling beyond the page */
iframe { width: 100%; }